
/* background image and attributes*/
body {
    background:url(../images/Savin-NY-Website-Background-Web.jpg) no-repeat center fixed;     
    background-size: cover;
}

/* Nav bar customizations*/
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
    background-color: #339999;
    font-family: Georgia,Times,Times New Roman,serif; 
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}

.navbar-custom .navbar-nav .nav-link {
    color: black;
    font-size: 18px;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    font-weight:bolder;
}

/* title formatting*/
h1 {
    color: #339999;
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 50px;
    font-weight: bold; 
    padding-top: 30px;
    padding-left: 30px;
}

/* container in the main - custom settings*/
.about-me,
.contact-me,
.portfolio-me {
    background-color: white;
    margin: 80px 20px 150px 20px
}

/*image settings*/
img {
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    
}

/* divider settings for main*/
hr {
    margin: 30px;
    border: none;
    height: 1px;
    /* Set the hr color */
    color:lightgrey; /* old IE */
    background-color:lightgrey; /* Modern Browsers */
}

/* text settings*/
p {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

/*button settings*/
.btn {
    background-color: #339999;
    border-radius: 0;
    padding: 20px 40px;
    font-size: 20px;
}
/*footer*/
footer {
    border-top: 2px solid;
    border-color: #339999;
    border-width: 10px;
}

.fa {
    padding: 5px;
    color: #339999;
}

.fa:hover {
    opacity: 0.7;
    color: #339999;
    text-decoration: none;
}